body{
	background-color:#ddd;  

}
#animate-div{
	width: 100%;
    margin: 0 0 0 -10px;
    padding: 30px 0 30px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
}
#annimate-p{
	text-align: center;
	display: block;
	font-size:14px;
	width: 60px;
    height: 40px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font: bold 12px '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
    padding: 20px 10px 40px 10px;  
	animation: animate-p 5s infinite;
    -moz-animation: animate-p 5s infinite;
    -webkit-animation: animate-p 5s infinite;
    -o-animation: animate-p 5s infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
@-webkit-keyframes animate-p{
0%{ 
	-webkit-transfrom:rotate(0deg);
	left:0%;
 }
25%{
	-webkit-transform:rotate(120deg);
	left: 20%;

}
50%{
	-webkit-transform: rotateY(180deg);
	left: 30%;

}
75%{
	-webkit-transform: rotateX(180deg);
	left: 50%;
	background: #1ec7e6;

}
80%{
	-webkit-transform: rotate(20deg);
	left: 80%;

}
95%{
	-webkit-transform: rotate(0deg);
	left: 90%;
}
100%{
	-webkit-transform: rotate(-360deg);
	left:0%;
}
}
@keyframes animate-p{
0%{ 
	transfrom:rotate(0deg);
	left:0%;
 }
25%{
	transform:rotate(120deg);
	left: 20%;

}
50%{
	transform: rotateY(180deg);
	left: 30%;

}
75%{
	transform: rotateX(180deg);
	left: 50%;
	background: #1ec7e6;

}
80%{
	transform: rotate(20deg);
	left: 80%;

}
95%{
	transform: rotate(0deg);
	left: 90%;
}
100%{
	transform: rotate(-360deg);
	left:0%;
}
}

.header{
	width:100%;
	height:222px;
	overflow: hidden;
	background-image: url(/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 62px;
	padding-bottom: 62px;
	background-position: center 20%;


}
.header h1{
	color: #fff;


}
.post{
	padding:35px;
	background: #ffffff;
	margin-bottom: 35px;
	overflow: hidden;
}
.nav li a{
	border:0px;
	height:56px;
	background:#ffffff;
	line-height: 2.428571;
}
.navigation{
	text-align: center;
    background: #ffffff;
    margin-bottom: 0px;
    border-bottom: 2px solid #e1e1e1;
}
.bgc{
	background: #ddd;
}
.sidebar{
	background: #ffffff;
	padding:21px 30px;
	margin-bottom:35px;
	text-align: left;
}
.sidebar p{
	margin:0 0 10px;
	color:blue;
}
.author_img{
	width:40%;
	height:160px;
	overflow: hidden;
	margin-bottom: 10px;
}
